
# Compiled binaries
tools/*/player_preview
tools/*/*.o
tools/*/udp_input
tools/*/cari-avsync

# Transcoder binaries
src/cari-transcoder/cari-transcoder
src/cari-transcoder/*.o

# Mux binaries
src/cari-mux/cari-mux
src/cari-mux/*.o

# Output binaries
src/cari-output/cari-output
src/cari-output/*.o

# Common library
src/common/*.o
src/common/*.a
tools/http_ts_server/http_ts_server
tools/hls_output/hls_output
