
# Compiled binaries
tools/*/player_preview
tools/*/*.o
tools/*/udp_input
tools/*/cari-avsync

# Transcoder binaries
src/cari-transcoder/cari-transcoder
src/cari-transcoder/*.o

# Mux binaries
src/cari-mux/cari-mux
src/cari-mux/*.o

# Common library
src/common/*.o
src/common/*.a
